.icons  {
    padding: 0px 10px;    
}

#footer {
    position: absolute;
    bottom: 0;
    left: 45%;
    right: 45%;

}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}