

@media only screen and (max-width: 600px) {
  section {
    display: block;
    overflow: hidden;
    padding: 10px;
    border-radius: 15px;
    border: 3px solid;
    gap: 10px;
    width: 80%;
    height: 250px;
    margin: 25px auto;
  }
}

@media only screen and (max-width: 1024px) {
  section {
    display: block;
    overflow: hidden;
    padding: 10px;
    border-radius: 15px;
    border: 3px solid;
    gap: 10px;
    width: 80%;
    height: 250px;
    margin: 25px auto;
  }
}
